    .button{
    border: none;
    display: inline-block;
    
       border-radius: .3rem;
       background-color:  #fff;
           letter-spacing: 2px;
    padding: 1rem .5rem;
       margin: 5px;
    a{    
 
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 700;
    transition: all .2s ease-in-out;
    white-space: nowrap;
    color: #222;
}
    &:hover{
        background-color: #222;
        a{
            color: #fff;
        }
        
    }
    }